body{
    min-height: 100vh;
    background: #FFC1CC;
}

.container{
    text-align: center;
    flex:  0 0 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yes-container{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.yes-container video{
    margin-top: 50px;
}

.btn{
    border: 1px solid lightslategray;
    background: none;
    margin: 20px;
    font-size: 14px;
    cursor: pointer;
    background: #FFC1CC;
}

.btn-container {
    position: relative;
    width: 300px;
    height: 50px;
    display: flex;
    height: 100%;
}

.yes {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    z-index: 2;
    transition: width 0.4s ease;
}

.no {
    width: 30%;
    margin-left: auto;
    z-index: 1;
    transition: opacity 0.3s ease;
}